<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="PoqCore" value="https://www.myget.org/F/poq-core/api/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <PoqCore>
      <add key="Username" value="poqdev" />
      <add key="ClearTextPassword" value="H4thcery." />
    </PoqCore>
  </packageSourceCredentials>
</configuration>
